*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #3d4a94;
    background-image: linear-gradient(rgba(29, 48, 109, 0),rgba(137, 198, 248, 0.8))
}
nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: #1b1b1b;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: sticky;}
ul{
    display: flex;
    width: 80%;
    list-style: none;
    padding: 10px;
    justify-content: center;
}
li{
    padding: 10px;
    text-align: center;
}
li:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
button{
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
}
#main{
    text-align: center;
    padding: 200px;
    font-size: 30px;
}
#main h3{
    margin: 20px;
}
#come{
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    height: 50%;
    background: transparent;
    color: black;
}
#come:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    box-shadow: 7px 6px 10px rgba(0,0,0,0.7);
}
#cards{
    display: flex;
    float: left;
    clear: both;
    color: black;
}
.card{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
}
