@media only screen and (max-width: 1390px) {
    #sec a {
        width: 44%;
    }
}

@media only screen and (max-width: 700px) {
    #first {
        height: 100vh;
    }

    nav {
        position: absolute;
        top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.284);
    }

    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        padding: 25px 18px;
    }

    nav img {
        height: 60px;
        width: 70px;
    }

    hr {
        display: none;
    }

    #sec a {
        width: 85%;
    }

    #first div h1 {
        font-size: 40px;
    }

    #first div button {
        font-size: 16px;
    }

    #first div h3 {
        font-size: 20px;
        font-weight: 400;
    }
}

@media only screen and (max-width:500px) {
    nav img {
        position: static;
    }

    nav {
        position: absolute;
        top: 50px;
        flex-flow: row wrap;
    }

    #first div {
        height: 40vh;
        justify-content: flex-end;
    }

    #first div h1 {
        font-size: 28px;
    }

    #first div h3 {
        font-size: 16px;
    }

    #first div button {
        min-width: 80px;
    }
}